.question ul {
  list-style: none;
  padding-left: 0;
}

.question {
  border-bottom: var(--faint-blue) solid 2px;
  max-width: 900px;
  margin: auto;
}

.question .question-text {
  font-weight: 700;
  font-size: 22px;
  color: var(--text-blue);
  font-family: var(--karla);
  margin: 30px auto 34px;
  text-align: left;
}

.answer-btn {
  font-weight: 500;
  font-size: 16px;
  border: solid var(--blue) 2px;
  color: var(--text-blue);
  font-family: var(--inter);
  border-radius: 8px;
  padding: 6px 12px;
  background-color: var(--white);
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), border 0.25s;
}

.answer-btn:hover {
  background-color: var(--btn-faint-blue);
}

.answer-btn:active, .answer-btn.selected {
  background-color: var(--btn-faint-blue);
  border: solid var(--btn-faint-blue) 2px;
}

.completed .answer-btn {
  color: var(--text-blue);
}

.answer-btn.disabled {
  border: solid #b9bfe0 2px;
  color: #b9bfe0;
  background-color: #F5F7FB;
}

.answer-btn.correct {
  color: #7683ce;
  background-color: #bae7c4;
}

.answer-btn.selected.correct {
  background-color: var(--correct);
  border: solid #ffffff 2px;
  color: var(--text-blue);
}


.answer-btn.selected.incorrect {
  background-color: var(--incorrect);
  border: solid var(--incorrect) 2px;
  color: var(--text-blue);
}

.btn-list-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 26px;
}